
<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <div class="placer"></div>
      <a href="#"><li>HOME</li></a>
      <a href="#"><li>ABOUT</li></a>
      <a href="#"><li>INFO</li></a>
      <a href="#"><li>CONTACT</li></a>
      <div class="placer"></div>
    </ul>
  </div>
</nav>

<agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
